{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="page-header">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <ol class="breadcrumb">
               <li><a href="{% url 'products:home' %}">{% translate "Home page" %}</a></li>
               <li><a href="{% url 'orders:cart' %}">{% translate "Shopping cart" %}</a></li>
               <li class="active">{% translate "Checkout" %}</li>
            </ol>
         </div>
   </div>
   </div>
</section>
<div class="page-wrapper">
   
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="block billing-details">
                  <h4 class="widget-title">Billing Details</h4>
                  <form method="post" class="checkout-form">{% csrf_token %}
                     <div class="form-group">
                        <label for="name">{{ form.name.label }}</label>
                        {{ form.name }}
                     </div>
                     <div class="form-group">
                        <label for="email">{{ form.email.label }}</label>
                        {{ form.email }}
                     </div>
                     <div class="form-group">
                        <label for="phone">{{ form.phone.label }}</label>
                        {{ form.phone }}
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="zipcode">{{ form.zipcode.label }}</label>
                           {{ form.zipcode }}
                        </div>
                        <div class="form-group" >
                           <label for="district">{{ form.district.label }}</label>
                           {{ form.district }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="address">{{ form.address.label }}</label>
                        {{ form.address }}
                     </div>
                     <input type="submit" class="btn btn-main mt-20" value="{% translate 'Place Order' %}">
                  </form>
               </div>
            </div>
            <div class="col-md-4">
               <div class="product-checkout-details">
                  <div class="block">
                     <h4 class="widget-title">Order Summary</h4>
                     {% for product_id, product in product_dict.items %}
                        <div class="media product-card">
                           <a class="pull-left" href="{% url 'products:detail' product_id %}">
                              {% if product.product.product_image_set.all %}
                                 {% if product.product.product_image_set.all.0.image %}
                                    <img class="media-object" src="{{ product.product.product_image_set.all.0.image.url }}" alt="Image" />
                                 {% endif %}
                              {% endif %}
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"><a href="{% url 'products:detail' product_id %}">{{ product.product.name }}</a></h4>
                              <p class="price">{{ product.count }} x ${{ product.product.price }}</p>
                              <a href="javascript:void(0)" onclick="getAjax('{% url 'orders:delete_cart' product_id %}', '已移除商品', 'true');" class="remove" >Remove</a>
                           </div>
                        </div>
                     {% endfor %}
                     <ul class="summary-prices"></ul>
                     <div class="summary-total">
                        <span>Total</span>
                        <span>${{ total }}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Modal -->
<div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <form>
               <div class="form-group">
                  <input class="form-control" type="text" placeholder="Enter Coupon Code">
               </div>
               <button type="submit" class="btn btn-main">Apply Coupon</button>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock content %}